@use '../../variables' as v;

.App {
  h1 {
    font-size: v.$fontSizeH1;
    font-weight: bold;
  }
  h2 {
    font-size: v.$fonzSizeH2;
  }
}

.layer1,
.layer2 {
  margin: v.$boxSpacingMed;
  padding: v.$boxSpacingMed;
  width: v.$boxSizeWidth;
  height: v.$boxSizeHight;
  height: max-content;
  border: solid 1px v.$darkColor;
  box-shadow: 5px 5px 4px v.$darkColor;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.layer2 {
  a {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 4px;
    text-decoration: none;
  }

  span:hover {
    color: rgb(8, 173, 250);
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .App {
    h1 {
      font-size: 1.2rem;
    }

    .allLayers{
      display: flex;
      align-items: center;
      flex-direction: column;
      .layer1,
      .layer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 0.2rem;
        padding: 0.5rem;
        box-shadow: none;
        border-radius: 5px;
      }
    }
        span {
          font-size: 0.8rem;
        }
  
        span:hover {
          text-decoration: underline;
        
      }
    }
  }

