@use '../../variables' as v;

.App {
  background-color: v.$mainBGColor;
  max-width: 100vw;
  min-height: 100vh;
  h1 {
    font-size: v.$fontSizeH1;
  }
  h2 {
    font-size: v.$fonzSizeH2;
  }
}

.layer1,
.layer2 {
  margin: v.$boxSpacingMed;
  padding: v.$boxSpacingMed;
  width: v.$boxSizeWidth;
  height: v.$boxSizeHight;
  height: max-content;
  border: solid 1px v.$darkColor;
  box-shadow: 5px 5px 4px v.$darkColor;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;


  }  
  .layer2 {
    a {
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      padding: 4px;
      text-decoration: none;
    }

    a:hover {
      color: rgb(8, 173, 250);
    }

}

@media screen and (max-width: 600px){
  .App {
    background-color: rgb(70, 157, 238);
  }
  
}