@use '../../variables' as v;

.layerYellow,
.layerWhite {
  width: 300px;
  margin: 10px;
}
.title:hover{
  background-color: rgba(255, 255, 0, 0.15);
  cursor: pointer;

}
.vimninjabelts {
  // display: flex;
  // flex-direction: column;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;

  .vimTitle {
    // display: flex;
    // flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-bottom: 10px;
  }

  .command {
    font-weight: bold;
    text-align: center;
    background-color: yellow;
    font-size:1rem ;
  }
  .command:hover{
    font-size: 2rem;
  }
  .vimTitle :nth-child(1) {
    color: rgb(37, 89, 167);
    font-size: 2rem;

  }
  
  .player {
    // width: 10%;
  //   height: 150px;
  }
}
