@use '../../variables' as v;

.layerYellow,
.layerWhite {
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}
.vimninjabelts {
  // display: flex;
  // flex-direction: column;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;

  .vimTitle {
    // display: flex;
    // flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-bottom: 10px;
  }

  .command {
    font-weight: bold;
    text-align: center;
    background-color: yellow;
  }
  .vimTitle :nth-child(1) {
    color: rgb(0, 68, 255);
  }
  
  .player {
    // width: 10%;
  //   height: 150px;
  }
}
