@use '../../variables' as v;

ul {
  display: flex;
  li {
    list-style: none;
    a {
      color: blue;
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      flex-direction: left;
      padding: v.$boxSpacingSmall;
      margin: v.$boxSpacingSmall;
      font-size: v.$boxSpacingMed;
      text-decoration: none;
  
    }
    a:hover {
      color: white;
    }
  }
}

.navigation {
  background-color: v.$secBGColor;
  box-shadow: 5px 4px 4px black;
}

