$boxSpacingNull: 0;

$fontSizeH1: 2rem;
$fonzSizeH2: 1.5rem;

$boxSpacingSmall:0.3rem;
$boxSpacingMed: 2rem;
$defaultSize: 1rem;

$boxSizeWidth: 20rem;
$boxSizeHight: 30rem;

$brightColor: white;
$warningColor: red;
$darkColor: black;
$mainBGColor: darkgray;
$secBGColor: rgb(212, 211, 209);


