$boxSpacingNull: 0;

$boxSpacingSmall:0.5rem;
$boxSpacingMed: 1rem;
$defaultSize: 1rem;

$boxSizeWidth: 300px;
$boxSizeHight: 500px;

$brightColor: white;
$warningColor: red;
$darkColor: black;
$mainBGColor: darkgray;
$secBGColor: rgb(212, 211, 209);


